# Temp files
~$*

# Environment variables
.env

# Virtual environment
venv/

# Dependencies
node_modules/
dist/

# OS files
.DS_Store

# Data files (optional, but recommended if they are large)
*.xlsx
